@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #202E61;
    position: relative;
    background-image: url('/imgs/BG.jpg');
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top center;
}

#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}